<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clustering</title>
    <link rel="shortcut icon" href="/images/codexlogo.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidepanel.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <h3>Codex pipeline</h3>
                <strong>Codex</strong>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/html/home.html">
                        <i class="glyphicon glyphicon-home"></i>
                        Home
                    </a>

                    <a href="/html/uploader.html">
                        <i class="glyphicon glyphicon-level-up"></i>
                        Uploader
                    </a>

                    <a href="/html/segm.html">
                        <i class="glyphicon glyphicon-th"></i>
                        Segmentation
                    </a>

                    <a href="/html/gate.html">
                        <i class="glyphicon glyphicon-filter"></i>
                        Gating
                    </a>
                </li>

                <li class="active">
                    <a href="/html/clustering.html">
                        <i class="glyphicon glyphicon-equalizer"></i>
                        Clustering
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-play-circle"></i>
                        Viewer
                    </a>
                </li>
            </ul>
        </nav>

        <div id="content">

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" style="background-color: #337ab7">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Menu</span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/html/faq.html">FAQ</a> </li>
                            <li><a href="/html/contact.html">Contact</a></li>
                            <li><a href="/html/about.html">About us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <h2>Clustering</h2>
            <p>Choose the experiment folder for a user and specify the parameters given below to proceed with clustering. Make sure that the
                experiment was processed, uploaded and segmented in the server before starting.
            </p>

            <div class="container-fluid" style="width:600px;">
                <div class="panel panel-primary">
                    <div class="panel-heading"><i>Clustering configuration parameters</i></div>
                    <div class="panel-body">

                        <!--<form id ="cluster" method="POST" action="http://localhost:4567/runClustering">-->

                            <div class="form-group">
                                <label for="user">Select User</label>
                                <select name="user" id="user" class="form-control input" placeholder="Choose user" required>
                                    <option value="">Choose user</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exp">Enter experiment name</label>
                                <select name="exp" id="exp" class="form-control input" placeholder="Choose experiment" required>
                                    <option value="">Choose experiment</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="tstamp">Segmentation file</label>
                                <select name="tstamp" id="tstamp" class="form-control input" placeholder="Choose segmentation file" required>
                                    <option value="">Choose segmentation file</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="fcs">FCS file type</label>
                                <select name="fcs" id="fcs" class="form-control input" placeholder="Choose FCS file type" required>
                                    <option value="compensated">Compensated</option>
                                    <option value="uncompensated">Uncompensated</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="gate">Parent gate</label>
                                <select name="gate" id="gate" class="form-control input" placeholder="Choose parent gate" required>
                                    <option value="ungated">Ungated</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="user">Choose clustering columns</label>
                                <select style="height: 400px" name="clustcols" id="clustcols" class="form-control input" placeholder="Choose clustering columns" required multiple>
                                    <option value="">Choose clustering columns</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="limitevents">Limit events per file</label>
                                <input type="number" class="form-control" ng-model="limitevents" value="-1" min="-1" id="limitevents" placeholder="Enter limit events per file" name="limitevents" required>
                            </div>

                            <div class="form-group">
                                <label for="transformation">Transformation</label>
                                <select name="transformation" id="transformation" class="form-control input" placeholder="Choose Transformation" required>
                                    <option value="none">None</option>
                                    <option value="asinh">Asinh</option>
                                    <option value="double_asinh">Double Asinh</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="scaling">Scaling factor</label>
                                <input type="number" class="form-control" ng-model="scaling" value="5" min="1" id="scaling" placeholder="Enter Scaling factor" name="scaling" required>
                            </div>

                            <div class="form-group">
                                <label for="noise">Noise threshold</label>
                                <input type="number" class="form-control" ng-model="noise" value="1" step="0.1" min="0" id="noise" placeholder="Enter noise threshold" name="noise" required>
                            </div>

                            <div class="form-group">
                                <label for="rescale">Rescale</label>
                                <select name="rescale" id="rescale" class="form-control input" placeholder="Choose Rescale" required>
                                    <option value="none">None</option>
                                    <option value="sd">Standard deviation</option>
                                    <option value="quantile">Quantile</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="quantile">Quantile</label>
                                <input type="number" class="form-control" ng-model="quantile" value="1" min="0" step="0.05" id="quantile" placeholder="Enter quantile" name="quantile" required>
                            </div>

                            <div class="form-group">
                                <label for="rescaleSeparately">Rescale Separately</label>
                                <select name="rescaleSeparately" id="rescaleSeparately" class="form-control input" placeholder="Choose Rescale separately" required>
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>

                            <div class="form-group" >
                                <button type="button" id="startClustering" class="btn btn-primary btn-lg center-block" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Running clustering">Start Clustering</button>
                            </div>

                            <!--<div class="progress">-->
                                <!--<div id = "pro" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">-->
                                    <!--<font color="black"> 0% clustered </font>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->

                        <!--Modal to get the name of the clustering-->
                        <div class="modal fade" id="clusteringModal" tabindex="-1" role="dialog" aria-labelledby="clusteringModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="clusteringModalLabel"><b>Save Clustering run</b></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="clusteringName" class="col-form-label">Enter name for the clustering run</label>
                                            <input type="text" class="form-control" id="clusteringName" name="clusteringName" required autofocus>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="runClustering">Run</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--Modal to verify input-->
                        <div class="modal fade" id="inpCheckmodal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"><b>Field missing</b></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Check if input user and/or experiment is selected.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Modal to display clustering results-->
                        <div class="modal fade" id="resultModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"><b>Clustering results</b></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="clusteringResults">
                                        <p></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="resultClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $('#startClustering').click(function() {
        if($("#user").val() == -1 || $("#exp").val() == -1 || $('#tstamp').val() == -1 || $('#clustcols').val() == -1) {
            jQuery(function ($) {
                $('#inpCheckmodal').modal('show');
            });
        }
        else {
            jQuery(function ($) {
                $('#clusteringModal').modal('show');
            });
        }
    });
</script>

<script type="text/javascript">
    $('#runClustering').click(function() {
        jQuery(function ($) {
            $('#clusteringModal').modal('toggle');
        });
        RunClustering($('#user').val(), $('#exp').val(), $('#tstamp').val(), $('#fcs').val(), $('#gate').val(), $('#clustcols').val().toString(), $('#limitevents').val(), $('#transformation').val(), $('#scaling').val(),
            $('#noise').val(), $('#rescale').val(), $('#quantile').val(), $('#rescaleSeparately').val(), $('#clusteringName').val());
    });

    function RunClustering(user, exp, tstamp, fcs, parentGate, clustCols, limitEvents, transformation, scalingFactor, noiseThreshold, rescale, quantile, rescaleSeparately, clusteringName) {
        if(user != -1 && exp != -1 && tstamp && fcs && parentGate && clustCols && limitEvents && transformation && scalingFactor && noiseThreshold && rescale && quantile && rescaleSeparately && clusteringName.trim().length != 0) {
            $('#startClustering').button('loading');
            $.ajax({
                type: "GET",
                url: "/runClustering?user="+user+"&exp="+exp+"&tstamp="+tstamp+"&FCS="+fcs+"&parentGate="+parentGate+"&clustCols="+clustCols+"&limitEvents="+limitEvents+"&transformation="+transformation
                +"&scalingFactor="+scalingFactor+"&noiseThreshold="+noiseThreshold+"&rescale="+rescale+"&quantile="+quantile+"&rescaleSeparately="+rescaleSeparately+"&clusteringName="+clusteringName,
                contentType: "application/json",
                dataType: "json",
                success: function(msg) {
                    if(msg != null) {
                        jQuery(function ($) {
                            $('#resultModal').modal('show');
                        });
                        $('#clusteringResults').html(msg);
                        // var gateLink = '<br />' + "Click " + '<a href="/html/gate.html">' + '<u>' + "here" + '</u>' + '</a>' + " to proceed with gating.";
                        // $('#clusteringResults').append(gateLink);
                        $('#startClustering').button('reset');
                    }
                    else {
                        jQuery(function ($) {
                            $('#resultModal').modal('show');
                        });
                        $('#clusteringResults').html("Error caused by: " + msg);
                        var errorStatus = '<br />' + "Oops! Something went wrong. Try running segmentation again or contact us! " + '<br />';
                        $('#clusteringResults').append(errorStatus);
                        $('#startClustering').button('reset');
                    }

                },
                error: function(msg) {
                    jQuery(function ($) {
                        $('#resultModal').modal('show');
                    });
                    $('#clusteringResults').html("Error caused by: " + msg);
                    var errorStatus = '<br />' + "Oops! Something went wrong. Try running clustering again or contact us! " + '<br />';
                    $('#clusteringResults').append(errorStatus);
                    $('#startClustering').button('reset');
                }
            });
        }
        else {
            jQuery(function ($) {
                $('#resultModal').modal('show');
            });
            $('#clusteringResults').html("Some field is missing.");
            var errorStatus = '<br />' + "Please check the clustering parameters again!" + '<br />';
            $('#clusteringResults').append(errorStatus);
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>

<!--<script type="text/javascript">-->
    <!--function showProgress() {-->
        <!--setInterval(function(){-->
            <!--jQuery.ajax({-->
                <!--type: "GET",-->
                <!--url: "/getProgress",-->
                <!--success: function(result) {-->
                    <!--$('#pro').css("width", result + '%');-->
                    <!--$('#pro').html(result + "% segmented");-->
                <!--},-->
            <!--});-->
        <!--}, 5000);-->
    <!--}-->
<!--</script>-->

<script type="text/javascript" language="javascript">
    var userParam;
    var expParam;
    var tstampParam;
    var fcsParam;
    var clusterParam;
    $().ready(function() {
        $.ajax({
            type: "GET",
            url: "/getUserList",
            contentType: "application/json",
            dataType: "json",
            success: function(msg) {
                $("#user").get(0).options.length = 0;
                $("#user").get(0).options[0] = new Option("Choose user", "-1");
                $.each(msg, function(i,obj)
                {
                    var div_data="<option value="+obj+">"+obj+"</option>";
                    $(div_data).appendTo('#user');
                });
                $("#user").bind("change", function() {
                    GetExperiments($(this).val());
                });
            },
            error: function() {
                alert("Failed to load users");
            }
        });
    });

    function GetExperiments(user) {
        if(user != -1) {
            userParam = user;
            $("#exp").get(0).options.length = 0;
            $("#tstamp").get(0).options.length = 0;
            $("#clustcols").get(0).options.length = 0;

            $.ajax({
                type: "GET",
                url: "/getExperimentList?user="+user,
                contentType: "application/json",
                dataType: "json",
                success: function(msg) {
                    $("#exp").get(0).options.length = 0;
                    $("#exp").get(0).options[0] = new Option("Choose experiment", "-1");
                    $("#tstamp").get(0).options.length = 0;
                    $("#tstamp").get(0).options[0] = new Option("Choose segmentation configuration", "-1");
                    $("#clustcols").get(0).options.length = 0;
                    $("#clustcols").get(0).options[0] = new Option("Choose clustering columns", "-1");
                    $.each(msg, function(i,obj)
                    {
                        var div_data="<option value="+obj+">"+obj+"</option>";
                        $(div_data).appendTo('#exp');
                    });

                    $("#exp").bind("change", function() {
                        GetSegTimestamps($("#user").val(), $("#exp").val());
                    });
                }
            });
        }
        else {
            $("#exp").get(0).options.length = 0;
            $("#exp").get(0).options[0] = new Option("Choose experiment", "-1");
            $("#tstamp").get(0).options.length = 0;
            $("#tstamp").get(0).options[0] = new Option("Choose segmentation configuration", "-1");
            $("#clustcols").get(0).options.length = 0;
            $("#clustcols").get(0).options[0] = new Option("Choose clustering columns", "-1");
        }
    }

    function GetSegTimestamps(user, exp) {
        if(user != -1 && exp != -1) {
            expParam = exp;
            $("#tstamp").get(0).options.length = 0;
            $.ajax({
                type: "GET",
                url: "/getSegTimestampsForGate?user="+user+"&exp="+exp,
                contentType: "application/json",
                dataType: "json",
                success: function(msg) {
                    $("#tstamp").get(0).options.length = 0;
                    $("#tstamp").get(0).options[0] = new Option("Choose segmentation configuration", "-1");
                    $.each(msg, function(i,obj)
                    {
                        var div_data="<option value="+obj+">"+obj+"</option>";
                        $(div_data).appendTo('#tstamp');
                    });

                    $("#tstamp").bind("change", function() {
                        GetClusterCols($("#user").val(), $("#exp").val(), $("#tstamp").val());
                    });
                }
            });
        }
        else {
            $("#tstamp").get(0).options.length = 0;
            $("#tstamp").get(0).options[0] = new Option("Choose segmentation configuration", "-1");
            $("#clustcols").get(0).options.length = 0;
            $("#clustcols").get(0).options[0] = new Option("Choose clustering columns", "-1");
        }
    }


    function GetClusterCols(user, exp, tstamp) {
        if(user != -1 && exp != -1 && tstamp != -1) {
            tstampParam = tstamp;
            $('#clustcols').get(0).options.length = 0;
            $.ajax({
                type: "GET",
                url: "/getClusterCols?user="+user+"&exp="+exp+"&tstamp="+tstamp,
                contentType: "application/json",
                dataType: "json",
                success: function(msg) {
                    $('#clustcols').get(0).options.length = 0;
                    $.each(msg, function(i,obj)
                    {
                        var index = i+1;
                        var div_data="<option value="+index+">"+obj+"</option>";
                        $(div_data).appendTo('#clustcols');
                    });

                }
            });
        }
        else {
            $("#clustcols").get(0).options.length = 0;
            $("#clustcols").get(0).options[0] = new Option("Choose clustering columns", "-1");
        }
    }


    $("#tstamp").bind("change", function() {
        loadGates($("#user").val(), $("#exp").val(), $("#tstamp").val(), $("#fcs").val());
    });

    $("#fcs").bind("change", function() {
        loadGates($("#user").val(), $("#exp").val(), $("#tstamp").val(), $("#fcs").val());
    });

    function loadGates(user, exp, tstamp, fcs) {
        if(user != -1 && exp != -1 && tstamp != -1 && fcs != -1) {
            tstampParam = tstamp;
            fcsParam = fcs;

            $.ajax({
                type: "GET",
                url: "/getGates?user="+user+"&exp="+exp+"&tstamp="+tstamp+"&FCS="+fcs,
                contentType: "application/json",
                dataType: "json",
                success: function(msg) {
                    if(msg.length != 0) {
                        $("#loadGates").show();
                    }
                    else {
                        $("#loadGates").css('display', 'none');
                    }
                    $('#gate').get(0).options.length = 0;
                    $('#gate').get(0).options[0] = new Option("Ungated", "Ungated");

                    $.each(msg, function(i,obj)
                    {
                        if(msg.length != 0) {
                            var div_data = "<option value=" + obj + ">" + obj + "</option>";
                            $(div_data).appendTo('#gate');
                        }
                        else {
                            $("#loadGates").css('display', 'none');
                        }
                    });
                },
                error: function() {
                    $("#loadGates").css('display', 'none');
                }
            });

        }
        else {
            $("#loadGates").css('display', 'none');
        }
    }

    $("#gate").bind("change", function() {
        var defaultGateOption = $('#gate').val();
        if(defaultGateOption == -1) {
            $('#gateName').val("");
            $('#x').val(-1);
            $('#y').val(-1);
        }
        else {
            //loadGateConfig($("#user").val(), $("#exp").val(), $("#tstamp").val(), $("#fcs").val(), -1, -1, $("#gate").val());
        }
    });
</script>

</html>